apiVersion: apps/v1
kind: Deployment
metadata:
  name: ocp-ftw
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ocp-ftw
  template:
    metadata:
      labels:
        app: ocp-ftw
    spec:
      containers:
      - name: hello-world
        image: openshift/hello-openshift:latest

